<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <script>
        window.onload = function ()
        {
            document.getElementById("imagine").src = "../../Images/sturion_atlantic.png";
        }
    </script>
</head>
<body>
    <p>Ups, pagina cautata de tine nu a fost gasita...</p>
    <img src="" alt="sturion trist" id="imagine">
</body>
</html>