<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Root</title>
    <meta charset="utf-8">
</head>

<body class="containor">
    <%- include("../views/header") %>
    <p>Sarcina realizata cu succes!</p>
    <%- include("../views/footer") %>
</body>
</html>