<header>
    <ul>
        <li><a href="/">Root</a></li>
        <li><a href="/adauga_castigator">Adauga castigator</a></li>
        <li><a href="/lista_castigatori">Lista castigatorilor</a></li>
        <li><a href="/sterge_jucator">Sterge jucator</a></li>
        <li><a href="/reseteaza">Reseteaza baza de date</a> </li>
    </ul>
</header>